@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
/* body{
    font-family: "Inter", sans-serif;
} */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    /* color: #fff; */
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%) color #1a1a1a;

}
/* shared-style */
.display-flex{
    display: flex;
}

/* .bg-section{
    background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding: 1em;
} */
/* header-section */

/* nav-bar-section */

.nav-bar h2{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
font-style: italic;
}




.nav-item{
    list-style: none;
    margin-right: 47px;






}
.nav-bar{
    justify-content: space-between;
    margin-top: 58px;
    margin-left: 190px;
    margin-right: 190px;

}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding: 4px;
margin: 0px 10px;
}


.banner-section-text h1{
    font-family: Inter;
font-size: 78px;
font-weight: 900;
justify-content: space-between;
display: flex;
color: white;
}

 .picture-dp{
    display: flex;
    justify-content: space-between;
 }
.banner-section{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 167px;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 76px;

}
.banner-section-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
.ok{
    font-family: "Rouge Script", cursive;
    font-style: italic;
}
.first-btn  button{
    border-radius: 42px;
background: rgb(230, 83, 60);
width: 224px;
height: 54px;
padding: 16px 40px 16px 40px;
}
.second-btn button{
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
padding: 16px 40px 16px 40px;
width: 224px;
height: 54px;
display: flex;
}
.btn-container{
    display: flex;
    gap: 14px;
}

.labels-1 {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    width: 206px;
    height: 96px;
    left: 950px;
    top: 590px;
    margin-bottom: 63px;
    
}


 .label{
    gap: 0px;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-top: 20px;

   
 }
 .labels-2{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
position: absolute;
width: 193px;
height: 98px;
left: 1250px;
top: 310px;

 }

.change-your-habbit{
    display: flex;
    width: 671px;
height: 120px;
text-align: center;
justify-content: center;
flex-direction: column;
margin: 0 auto;
margin-top: 100px;
}
.text-conten h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-bottom: 14px;

}
.text-conten p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    
}
.dp-section{
    display: flex;
    justify-content: space-around;
    margin-top: 58px;
    flex-wrap: wrap;
}

.first-section-pic img{
    width: 272px;
height: 272px;
            border-radius: 50%;
            
            
}
.first-section-pic h5{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
display: flex;
text-align: center;
justify-content: center;
margin-top: 30px;
}
.first-section-pic p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;
}
 
.second-section-pic img{
    width: 272px;
    height: 272px;
                border-radius: 50%;
}
.second-section-pic h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
.second-section-pic p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;
}

.third-section-pic img{
    width: 272px;
    height: 272px;
                border-radius: 50%;
}

.third-section-pic h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
.third-section-pic p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;
}
.fifth-section-pic img{
    width: 272px;
    height: 272px;
                border-radius: 50%;
}

.fifth-section-pic h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.fifth-section-pic p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;
}
.run-section{
    width: 1060px;
height: 371px;
margin: 0 auto;
border-radius: 18px;
background: rgb(34, 34, 34);
display: flex;
justify-content: space-between;
margin-top: 100px;
}

.run-image img{
    width: 366px;
height: 312px;
border-radius: 18px;
margin-top: 30px;
margin-bottom: 29px;
margin-right: 32px;
}
.text-container h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-left: 54px;
margin-top: 41px;

}
.text-container p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-left: 54px;
margin-top: 10px;

}
.text-container button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
border-radius: 42px;
background: rgb(230, 83, 60);
margin-left: 54px;
margin-bottom: 40px;
}

.BMI-calculator{
    width: 1440px;
height: 200px;
margin: 0 auto;
display: flex;
justify-content: center;
margin-top: 88px;
margin-bottom: 30px;


}
.text-bmi h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-bottom: 14px;
}
.text-bmi p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
.new-cal{
    width: 1440px;
height: 487px;
background: rgb(34, 34, 34);
margin: 0 auto;
display: flex;
justify-content: space-between;
gap: 175px;
}
.bmi-chart h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900px;
width: 443px;
height: 34px;
margin-left: 187px;
margin-top: 52px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 120px;
}

th {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
}
td{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}


.bmi-form h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
width: 443px;
height: 34px;
margin-bottom: 14px;
}
.bmi-form p{


color: rgba(255, 255, 255, 0.6);
font-family: Inter;
font-size: 10px;
font-weight: 400;

}
form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 40px 12px 20px;
    margin: 0px 12px;
    width: 282.5px;
height: 48px;
display: grid;
 grid-template-columns: repeat(4,1fr);
 /* grid-template-columns: 1fr 1fr; */
 gap: 10px;
 max-width: 400px;
 width: 100%;
 margin-right: 200px;
 







}


label {
    margin-top: 10px;
}

input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 20px;
    padding: 12px 20px 12px 20px;
    

}



select{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
width: 200px;
height: 20px;
padding: 12px 20px 12px 20px;
}

.bmi-form button{
    border-radius: 42px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: center;
/* grid-column: span 1; */




}













.our-team{
    width: 1060px;
height: 782px;
margin: 0 auto;
margin-top: 88px;
display: flex;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 200px;
}
.our-team-text h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-bottom: 14px;
}
.our-team-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.description-dp{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
.team-member {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}
.team-member img {
    width: 100%;
    /* border-radius: 100%; */
}
.team-member h3 {
    margin: 10px 0 5px;
}
.team-member p {
    margin: 0;
    color: #aaa;
}



.traning-excersise{
    /* width: 1440px;
height: 2811px; */
margin-top: 200px;
display: flex;
/* text-align: center;
justify-content: center; */
margin-left: 300px;
margin-right: 579px;
justify-content: center;
align-items: center;
flex-direction: column;

}
.traning-excersise-text h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
text-align: left;

}
.traning-excersise-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;

}
.exercise-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.exercise-item img {
    width: 100%;
    display: block;
}
